<div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/Profile3.jpg" class="img-fluid" id="fotodeperfil">                
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p id="job">Full Stack Developer Jr</p>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acerca">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste incidunt ratione recusandae dolorum harum amet, odit officiis reprehenderit rerum placeat accusamus beatae cumque aut, maiores a in magnam illo neque.</p>
            </span>
        </div>
</div>