<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">            
                <a href="" target="" rel="noopener noreferrer"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="" target="" rel="noopener noreferrer"><img src="../../../assets/github.png" id="github"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Log In</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Log Out</button>            
        </div>
    </div>
</div>