    <div class="row">
        <h1>Experiencia Laboral</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">            
            <ul>
                <li>
                    <h1>Trabajo 1</h1> - <h3>(years)</h3><a
                    class="btn btn-primary tooltips"
                    data-placement="top"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                ><i class="fa fa-pencil"></i>
                </a>
                <a
                    class="btn btn-secondary tooltips"
                    data-placement="top"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                ><i class="fa fa-times"></i>
                </a>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere ratione maxime laudantium modi recusandae. Enim, ipsum odit? Rem, maiores. Libero consequuntur nam praesentium maxime suscipit beatae ut quos vero architecto.                    
                </p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 2</h1> - <h3>(years)</h3><a
                    class="btn btn-primary tooltips"
                    data-placement="top"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                ><i class="fa fa-pencil"></i>
                </a>
                <a
                    class="btn btn-secondary tooltips"
                    data-placement="top"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                ><i class="fa fa-times"></i>
                </a>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere ratione maxime laudantium modi recusandae. Enim, ipsum odit? Rem, maiores. Libero consequuntur nam praesentium maxime suscipit beatae ut quos vero architecto.                    
                </p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 3</h1> - <h3>(years)</h3><a
                    class="btn btn-primary tooltips"
                    data-placement="top"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                ><i class="fa fa-pencil"></i>
                </a>
                <a
                    class="btn btn-secondary tooltips"
                    data-placement="top"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                ><i class="fa fa-times"></i>
                </a>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere ratione maxime laudantium modi recusandae. Enim, ipsum odit? Rem, maiores. Libero consequuntur nam praesentium maxime suscipit beatae ut quos vero architecto.                    
                </p>
            </ul>
        </div>
    </div>