    <div class="row" *ngFor="let educacion of educaciones">
        <div class="col-lg-11">
        <h1>Educación</h1>
        <div class="col text-center">
            <a
                class="btn btn-primary tooltips"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Edit"
            ><i class="fa fa-pencil"></i>
            </a>
            <a
                class="btn btn-secondary tooltips"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Edit"
            ><i class="fa fa-times"></i>
            </a>
            <ul>
                <li>
                    <h1>{{educacion.tituloEd}}</h1> - <h3>{{educacion.fechaEd}}</h3>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere ratione maxime laudantium modi recusandae. Enim, ipsum odit? Rem, maiores. Libero consequuntur nam praesentium maxime suscipit beatae ut quos vero architecto.                    
                </p>
            </ul>
        </div>
            <ul>
                <li>
                    <h1>{{educacion.tituloEd}}</h1> - <h3>{{educacion.fechaEd}}</h3>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere ratione maxime laudantium modi recusandae. Enim, ipsum odit? Rem, maiores. Libero consequuntur nam praesentium maxime suscipit beatae ut quos vero architecto.                    
                </p>
            </ul>
            <ul>
                <li>
                    <h1>{{educacion.tituloEd}}</h1> - <h3>{{educacion.fechaEd}}</h3>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere ratione maxime laudantium modi recusandae. Enim, ipsum odit? Rem, maiores. Libero consequuntur nam praesentium maxime suscipit beatae ut quos vero architecto.                    
                </p>
            </ul>
        </div>
    </div>
