<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Argentina Programa (Integrador)</h2>
            <p>Al finalizar el curso dictado por el INTI, los alumnos desarrollan su propio Portfolio usando todas las tecnologías y lenguajes aprendidos.
                Angular, NodeJS, Java, MySQL entre otros.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-lg-1 parte2">
            <img src="../../../assets/APLogo.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>