<div class="row">
    <h1>Proyecto</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, quaerat! Cupiditate voluptates mollitia perspiciatis ab, dolores harum deleniti sequi ipsa, vero repellendus consequuntur facere? Perferendis consequatur modi itaque id repudiandae?                
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-lg-1 parte2">
            <img src="../../../assets/instagram.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>